body {
    background-color: #ebe7df;
    padding-top: 140px;
    font-family: "Ubuntu", sans-serif;
}

.navbar-fixed-top {
    background-color: #663347 !important;
}

.navbar-default {
    background-color: #16242d;
    border: none;
}

.custom {
    position: fixed;
    z-index:1030;
    top: 50px;
    width:100%;
}

.navbar-fixed-lower {
    position: static;
}

.mine {
    margin-left: 30px;
}

.navbar {
    border-radius: 0px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}

.navbar-default .navbar-brand:hover {
    color: #ebe7df;
    background-color: transparent;
}


.navbar-default .navbar-nav > li > a {
    color: #ebe7df;
    text-transform: uppercase;
}

.margin-new{
    margin-top:100px;
}

.btn-primary {
    color: #ebe7df;
    background-color: #16242d;
    border-color: #16242d;
}

.btn-primary:active, .btn-primary:hover{
    color: #ebe7df;
    background-color: #858e8b;
    border-color: #858e8b;
}

.form-control:focus{
    border-color: #7F3137;
    box-shadow: #7F3137;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(113, 67, 84, 0.60);
}

.jumbotron {
    background-color: #ebe7df;
}

.jumbotron h1 {
    font-size: 33px;
}


.bigger {
    font-size: 30px;
    color: #663347;
}

.bigger2 {
    font-size: 50px;
    color: #663347;
}

.logout_user {
    color: #ebe7df;
    font-size: 14px;
    margin-top: 15px;
    text-transform: capitalize;
}

@media(max-width:767px){
    .logout_user {
        margin-right: 16px;
    }
    #respbutton {
    	max-width:50%;
	margin-left:25%;
    }
}

.house_margin{
    margin-left: 30px !important;
}


@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width:767px){
.button_search{
margin-top: -26px;
}
}

.menu_margin{
    padding: 6px 11px;
}

#logout{
    color: #ebe7df;
}

#logout:hover{
    text-decoration: none;
    color: #C79DAF;
}

.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #663347;
    border-color: #C79DAF;
}

.panel-primary {
    border-color: #663347;
}
#tableGraph th{
    color: #663347;
}
h1 {
    padding-bottom: 15px;
    color: #663347;
}

.datepicker table tr td.active.active{
    background-color: #3F242F !important;
    background-image: -moz-linear-gradient(center top , #C79DAF, #C79DAF);
}
#dataIndex {

    color: #858e8b;
    font-size: medium;
}

.container2 {
    width: 100%;
}

.container2 .row
	{
	margin:0px;
}
    
.contact-form {
    margin-bottom: 30px;
}

.navbar-nav {
  display: inline-block;
}

.glyphicon-align-justify  {
    color: white;
}

@media(max-width:500px){
.scope_padding{
padding-left: 0px;
padding-right: 0px;
}
}