<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" type="image/x-icon" />
        {% block head %}
        {% endblock %}
        <title>Smart House</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/jumbotron.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="/static/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="/static/js/ie-emulation-modes-warning.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- First navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="/">Smart</a>
                </div>
                {% if user.is_authenticated %}
                    <div class="navbar-header pull-right">
                        <div class="logout_user">
                            <a id="logout" href="{% url 'logout' %}">Wyloguj</a> {{ user }} <span class="glyphicon glyphicon-user"></span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
        <!-- Second navbar -->
        <div class="custom">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand house_margin" href="/">House</a>
                    </div>
                    <div class="navbar-header pull-right visible-xs">
                        <button type="button" class="navbar-toggle menu_margin" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </div>
                    <div class="col-lg-push-5 collapse navbar-collapse collapse-buttons">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Strona główna</a></li>
                            <li><a href="{% url 'diagram' %}">Diagram</a></li>
                            <li><a href="{% url 'scope' %}">Wskaźnik</a></li>
                            <li><a href="{% url 'contact' %}">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Dropdown menu for xs size -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="{% url 'diagram' %}">Diagram</a></li>
                        <li><a href="{% url 'scope' %}">Wskaźnik</a></li>
                        <li><a href="{% url 'contact' %}">Kontakt</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container2">
            <!-- Example row of columns -->
            {% block content %}
            {% endblock %}
        </div> <!-- /container2 -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
