{% extends 'base.html' %}
{% block content %}
    <div class="contact-form col-lg-push-2 col-lg-8 col-md-8 col-md-push-2 col-sm-10 col-sm-push-1 col-xs-12">
        <h1 style="text-align: center">Kontakt</h1>
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-warning alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <p>Temat: <input class="form-control" maxlength="30" name="subject" type="text"></p>
            </div>
            <div class="form-group">
                <p>Twój adres e-mail (opcjonalnie): <input class="form-control" type="text" name="email2"></p>
            </div>
            <div class="form-group">
                <p>Treść wiadomości: <textarea class="form-control" name="message" rows="10" cols="50"></textarea></p>
            </div>
            <input class="btn btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12" type="submit" value="Wyslij">
        </form>
    </div>
{% endblock %}
