{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-10 col-sm-push-1 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-warning alert-danger text-center">Nie istnieje wskaźnik dla tego urządzenia mierzącego</div>
                    <h1 class="text-center">Dodaj wskaźnik</h1>
                </div>
            </div>
                <form role="form" action="{% url 'formScope' idSensor  %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-7 col-xs-5">
                            <h4 class="hidden-xs">Temperatura maksymalna:</h4>
                            <h4 class="visible-xs">Temp.max:</h4>
                        </div>
                        <!--<div class="col-md-1">10</div>-->
                        <div class="col-md-5 col-xs-7">
                            <!--<input class="form-control" id="temp_max" name="temp_max" value="25" step="any" type="number">-->
                            <input class="bar" id="temp_max" name="temp_max" value="25" type="range" min="10" max="100" step="1" onchange="temp_max_val.value=value">
                            <output id="temp_max_val">25</output>
                        </div>
                        <!--<div class="col-md-1">100</div>-->
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-7 col-xs-5">
                            <h4 class="hidden-xs">Temperatura minimalna:</h4>
                            <h4 class="visible-xs">Temp.min:</h4>
                        </div>
                        <div class="col-md-5 col-xs-7">
                            <!--<input class="form-control" id="temp_min" name="temp_min" value="-5" step="any" type="number">-->
                            <input class="bar" id="temp_min" name="temp_min" value="-5" type="range" min="-10" max="20" step="1" onchange="temp_min_val.value=value">
                            <output id="temp_min_val">-5</output>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-7 col-xs-5">
                            <h4 class="hidden-xs">Wilgotność maksymalna:</h4>
                            <h4 class="visible-xs">Wilg. max:</h4>
                        </div>
                        <div class="col-md-5 col-xs-7">
                            <div class="slider">
                                <!--<input class="form-control" id="hum_max" name="hum_max" value="80" step="any" type="number">-->
                                <input class="bar" id="hum_max" name="hum_max" value="80" type="range" min="20" max="100" step="1" onchange="hum_max_val.value=value">
                                <output id="hum_max_val">80</output>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-7 col-xs-5">
                            <h4 class="hidden-xs">Wilgotność minimalna:</h4>
                            <h4 class="visible-xs">Wilg. min:</h4>
                        </div>
                        <div class="col-md-5 col-xs-7">
                            <div class="slider">
                                <!--<input class="form-control" id="hum_min" name="hum_min" value="15" step="any" type="number">-->
                                <input class="bar" id="hum_min" name="hum_min" value="15" type="range" min="0" max="50" step="1" onchange="hum_min_val.value=value">
                                <output id="hum_min_val">15</output>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <input type="submit" class="form-control btn btn-primary" name="submit" value="Dodaj" />
                        </div>
                        <div class="col-md-6  col-sm-6">
                            <a class="form-control btn btn-primary" type="button" href="{% url 'scope' %}">Wstecz</a>
                        </div>
                    </div>
                </form>
            {% else %}
                 <div class="jumbotron">
                    <div class="container">
                        <div class="col-md-push-1 col-md-10 text-center">
                            <h2>Aby mieć dostęp do danych, musisz się zalogować!</h2>
                            <a class="btn btn-primary" href="{% url 'django.contrib.auth.views.login' %}" role="button">Zaloguj &raquo;</a>
                        </div>
                    </div>
                </div>
        </div>


<script type="text/javascript">

var slider = new Slider('#ex1', {
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});


</script>
    {% endif %}
{% endblock %}