{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1 style="text-align: center">Ostatnie pomiary</h1>
        <div class="row">
            {% for d in data %}
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{d.room}}, {{ d.idSensor }}</h3>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">

                            <div class="col-md-6">
                                <h2><small><sup>Temperatura: </sup></small></h2>
                            </div>
                            <div class="col-md-6">
                                <h2 id='{{ d.temperature }}'class="text-right">{{ d.temperature }} &#x2103</h2>
                            </div>
                            <div class="col-md-6">
                                <h2><small><sup>Wilgotność: </sup></small></h2>
                            </div>
                            <div class="col-md-6">
                                <h2 class="text-right" >{{ d.humidity }} % RH</h2>
                            </div>
                            <div class="col-md-6">
                                <h2><small><sup>Data: </sup></small></h2>
                            </div>
                            <div class="col-md-6">
                                 <h2 id="dataIndex" class="text-right">{{ d.timestamp|date:'d-m-Y' }}, {{ d.timestamp|time:'H:i:s' }}</h2>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="jumbotron">
            <div class="container">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                    <h2>Aby mieć dostęp do danych, musisz się zalogować!</h2>
                    <a class="btn btn-primary" href="{% url 'django.contrib.auth.views.login' %}" role="button">Zaloguj &raquo;</a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    {% endif %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript">
        $(document).on('click', '.panel-heading span.clickable', function(e){
            var $this = $(this);
            if(!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
        })
    </script>
{% endblock %}



