{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center">Logowanie</h1>
    <div class="col-lg-4 col-lg-push-4 col-md-4 col-md-push-4 col-sm-6 col-sm-push-3 col-xs-12">
        {% if form.errors %}
            <div class="alert alert-warning alert-danger">Login lub hasło są nieprawidłowe!</div>
        {% endif %}
        <form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" id="username" maxlength="254" name="username" placeholder="Login" type="text" />
            </div>
            <div class="form-group">
                <input class="form-control" id="password" name="password" placeholder="Hasło" type="password" />
            </div>
            <div class="form-group form-inline">
                <input type="submit" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btn btn-primary" name="submit" value="Zaloguj" />
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                <a class="btn btn-primary col-lg-5 col-md-5 col-sm-5 col-xs-12" type="button" id="przycisk_zarejestruj" href="/register">Rejestracja</a>
            </div>
        </form>
    </div>
{% endblock %}