{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center">Rejestracja</h1>
    <div class="col-lg-4 col-lg-push-4 col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-12">
        <form role="form" action="/register/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" id="username" placeholder="Login" maxlength="30" name="username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" id="email" placeholder="Adres email" name="email" type="email">
            </div>
            <div class="form-group">
                <input class="form-control" id="password1" placeholder="Hasło" name="password1" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" id="password2" placeholder="Powtórz hasło" name="password2" type="password">
            </div>
            <div class="form-group form-inline">
                <input type="submit" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btn btn-primary" value="Zarejestruj" />
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                <a class="btn btn-primary col-lg-5 col-md-5 col-sm-5 col-xs-12" type="button" href="{% url 'django.contrib.auth.views.login' %}" role="button">Wróć</a>
            </div>
        </form>
    </div>
{% endblock %}





