{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-lg-4 col-lg-push-4 col-md-8 col-md-push-2 col-sm-8 col-sm-push-2 col-xs-12">
                <h1 class="text-center">Lista wskaźników</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-8 col-sm-push-2">
                <form  role ="form" action="{% url 'scope' %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <label for="d{{ forloop.counter }}">{{ s.choice_text }}</label>
                    <div class="col-lg-7 col-md-8 col-sm-7 col-xs-12">
                        <select class="form-control" name="s" >
                            <option value="" selected="selected">Sensor</option>
                            {% for s in sensor %}
                                <option value="{{ s}}">{{ s }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-12">
                        <input type="submit" class="form-control btn btn-primary button_search" name="bt1" value="Szukaj">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1 scope_padding">
                {% if state %}
                    <table class="table">
                        <caption style="text-align: center">Czujnik: {{ sensorName }}</caption>
                        <tr>
                            <td>Temperatura maksymalna: </td>
                            <td>{{ data.tempMax}} &#x2103</td>
                        </tr>
                        <tr>
                            <td>Temperatura minimalna: </td>
                            <td>{{ data.tempMin }} &#x2103</td>
                        </tr>
                        <tr>
                            <td>Wilgotność maksymalna: </td>
                            <td>{{ data.humMax }} %RH</td>
                        </tr>
                        <tr>
                            <td>Wilgotność minimalna: </td>
                            <td>{{ data.humMin }} %RH</td>
                        </tr>
                    </table>
                    <a href="{% url 'deleteScope' sensorName %}"><span class="glyphicon bigger glyphicon-remove-sign hidden-xs"></span></a>
                    <a href="{% url 'deleteScope' sensorName %}"><span class="glyphicon bigger2 glyphicon-remove-sign visible-xs"></span></a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <div class="container">
                <div class="col-md-push-1 col-md-10 text-center">
                    <h2>Aby mieć dostęp do danych, musisz się zalogować!</h2>
                    <a class="btn btn-primary" href="{% url 'django.contrib.auth.views.login' %}" role="button">Zaloguj &raquo;</a>
                </div>
            </div>
        </div>
    {% endif%}
{% endblock %}
